.container-fluid {
  background: url("images/header.jpg")100% 100% no-repeat;
}

ul{
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

a{
  color: white;
  font-size: 17px;
  font-style: sans-serif;
}

li{
  display: inline;
  padding: 0px 20px 0px 20px
}

.btn btn-default btn-lg{
  display: inline;
  padding: 0px 20px 0px 20px
}

h1{
  text-align: center;
  font-size: 70px;
}


article{
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}

h2{
  text-align: center;
}

.form-group {
  margin: auto;
  width: 60%;
  text-align: left;
}

.abouttext {
  margin: auto;
}
